# Zoom Webhook Secret Token:
ZOOM_WEBHOOK_SECRET_TOKEN_EX=ZOOM_WEBHOOK_SECRET_TOKEN_HERE

# Zoom Server-to-Server Credentials API Credentials:
ACCOUNT_ID=ZOOM_SDK_ACCOUNT_ID
CLIENT_ID=ZOOM_SDK_CLIENT_ID
CLIENT_SECRET=ZOOM_SDK_CLIENT_SECRET

# Zoom Meeting SDK Credentials: 
ZOOM_MSDK_KEY=ZOOM_MSDK_KEY_HERE
ZOOM_MSDK_SECRET=ZOOM_MSDK_SECRET_HERE